<div id="alert" class="hide" data-closable>
    <h5 id="alert-title"></h5>
    <p id="alert-body"></p>
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
    </button>
</div>