<div id="control-panel" class="grid-container fluid">

    <form method="post" action="/user/contacts/search">
        <div class="input-group">
            <span class="input-group-label">
                <i class="fa-solid fa-magnifying-glass" style="display:inline-block;margin: auto;"></i>
            </span>
            <input id="search-input" name="searchKey" class="input-group-field" type="text">
            <div class="input-group-button">
                <input type="submit" type="button input-group-field" class="button primary" value="Submit">
            </div>
        </div>
    </form>

    <div class="grid-x">
        <div class="input-group">
            <span class="input-group-label">
                <i class="fa-solid fa-eye-slash" style="display:inline-block;margin: auto;"></i></p>
            </span>

            <input id="hide-checkbox" class="input-group-field" style="margin:auto;" type="checkbox">
        </div>
    </div>
</div>