<div id="search-form" class="grid-container fluid">
    <form method="post" action="/user/contacts/search">
        <div class="input-group">
            <span class="input-group-label">
                <i class="fa-solid fa-magnifying-glass" style="display:block;margin: auto;"></i>
            </span>
            <input id="search-input" name="searchKey" class="input-group-field" type="text"
                placeholder="Search contacts">
            <div class="input-group-button">
                <input type="submit" class="button" value="Submit">
            </div>
        </div>
    </form>
</div>