<div id="settings" class="grid-container fluid">
    <div class="input-group">
        <div class="grid-x" style="align-content:center;align-items:center;margin-top:20px;">
            <span class="input-group-label cell auto" style="margin: 0;">
                <i id="settings-icon" class="fa-solid fa-eye"></i></p>
            </span>

            <input id="hide-me-checkbox" class="input-group-field cell auto" style="margin: 0;width:50px;"
                type="checkbox">
        </div>
    </div>
</div>