<div class="grid-container fluid">
    <div class="grid-y">
        <h3 class="cell" style="margin:0;">Settings</h3>
        <div class="cell">
            <div class="input-group">
                <div class="input-group-label">
                    <span>
                        Hide
                    </span>
                </div>

                <input id="hide-me-checkbox" class="input-group-field" style="margin: 0;width:100px;height:27px;"
                    type="checkbox">
            </div>
        </div>
    </div>
</div>