<div class="title-bar hide" data-responsive-toggle="signedoutmenu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="signedoutmenu"></button>
    <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="signedoutmenu">
    <div class="top-bar-left">
        <ul class="dropdown vertical medium-horizontal menu" data-dropdown-menu>
            <li class="menu-text">
                <span class="app-name">RMedia Technology</span>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="dropdown vertical medium-horizontal menu">
            <li><a href="/auth/signin">Signin</a></li>
            <li><a href="/auth/register">Register</a></li>
        </ul>
    </div>
</div>