<div class="callout success" data-closable>
    <h5>{{success_msg}}!</h5>
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
    </button>
</div>