<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{title}}}</title>
    <script src="https://kit.fontawesome.com/60b813df03.js" crossorigin="anonymous" type="javascript"></script>


    <link rel="stylesheet" href="/assets/css/foundation_/all.css">

    <link rel="stylesheet" href="/assets/css/foundation_/foundation.css">
</head>

<body>
    {{>menu}}
    {{>messages}}

    <main class="grid-container fluid main">
        {{{body}}}
    </main>
    <script src="/assets/js/vendor/jquery.js" type="javascript"></script>
    <script src="/assets/js/vendor/foundation.js" type="javascript"></script>
    <script type="javascript">
         $(document).ready(function() {
            $(document).foundation();
         })       
    </script>
    <p class="lead float-center" style="margin:0;padding:20px;text-algin:center;bottom:10px;">
        &copy; RMedia Technology
    </p>
</body>
<link rel="stylesheet" href="/assets/css/peerlist.css">
<link rel="stylesheet" href="/assets/css/dialog.css">
<script src="/assets/js/utils.js" type="module"></script>

{{#if user}}
<script src="/socket.io/socket.io.js"></script>
{{#if room}}
<link rel="stylesheet" href="/assets/css/room/parts.css">
<link rel="stylesheet" href="/assets/css/room/room.css">
<script src="/twilio-video.js"></script>
<script src="/assets/js/room/roommain.js" type="module"></script>
{{/if}}
{{#if connectedpeers}}
<script src="/assets/js/room/connectedpeersscript.js" type="module"></script>
{{/if}}
{{#if dashboard}}
<script src="/assets/js/dashboardelements.js" type="module"></script>
<script src="/assets/js/dashboardmain.js" type="module"></script>
<link rel="stylesheet" href="/assets/css/dashboard.css">
{{/if}}
{{#if multicontact}}
<script src="/assets/js/contactsmainelements.js" type="module"></script>
<script src="/assets/js/contactsmain.js" type="module"></script>
{{/if}}
{{#if singlecontact}}
<script src="/assets/js/singlecontactelements.js" type="module"></script>
<script src="/assets/js/singlecontactmain.js" type="module"></script>
{{/if}}
{{else}}
<script src="/assets/js/main.js" type="module"></script>
{{/if}}

</html>