<div class="main-container grid-container fluid">
    <div class="grid-x grid-margin-x grid-margin-y">
        <div class="dashboard-container cell large-4 medium-12">
            <div class="dashboard-components grid-x grid-margin-y" style="margin:5px;padding:5px;">
                <div class="logo-container cell small-12">
                    <i class="fas fa-users fa-fw fa-5x"></i>
                </div>

                <div class="personal-code-container cell small-12">
                    <div class="grid-x grid-margin-x">
                        <div class="personal-code-title-container cell small-9">
                            <p class="personal-code-title">
                                Your Personal ID
                            </p>
                            <p class="lead" id="personal-code-paragraph">000000</p>
                        </div>

                        <div class="class cell small-3">
                            <button type="button" id="personal-code-copy-button">
                                <i class="fa-solid fa-copy fa-2x fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="personal-code-connecting-input-container cell small-12">
                    <div class="input-group">
                        <span class="input-group-label">
                            <i class="fas fa-id-card fa-fw fa-2x"></i>
                        </span>
                        <input type="text" class="input-group-field" id='personal-code-input'></input>
                    </div>
                </div>

                <div class="personal-code-chat-container cell small-12">
                    <div class="personal-code-chat-title-container">
                        <p class="personal-chat-title-paragraph">
                            Chat with personal code
                        </p>
                    </div>

                    <div class="personal-code-chat-button-container">
                        <div class="grid-x grid-margin-x button-container">
                            <button class="cell auto" type="button" id="personal-code-chat-button">
                                <i class="fas fa-comment fa-fw fa-3x"></i>
                            </button>

                            <button class="cell auto" type="button" id="personal-code-video-button">
                                <i class="fas fa-video fa-fw fa-3x"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="stranger-code-chat-container cell small-12">
                    <div class="grid-x">
                        <div class="stranger-code-chat-title-container cell small-12">
                            <p class="stranger-chat-title-paragraph">
                                Chat with strangers
                            </p>
                        </div>

                        <div class="stranger-code-chat-button-container cell small-12">
                            <div class="grid-x grid-margin-x button-container">
                                <button class="cell auto" type="button" id="stranger-code-chat-button">
                                    <i class="fas fa-comment fa-fw fa-3x"></i>
                                </button>

                                <button class="cell auto" type="button" id="stranger-code-video-button">
                                    <i class="fas fa-video fa-fw fa-3x"></i>
                                </button>
                            </div>
                        </div>

                        <div class="allow-strangers-to-connect-checkbox-container cell small-12">

                            <p class="allow-strangers-paragraph cell small-10">
                                Allow strangers to connect

                                <input type="checkbox" class="input-group-field" id="allow-strangers-checkbox">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class='dashboard-blur display-none' id='dashboard-blur'></div>
        </div>

        <div class="call-container cell large-4 medium-12 grid-x grid-margin-y" style="justify-content: center;">

            <div class="local-video-container">
                <video class="local-video" muted autoplay id="local-video"></video>
            </div>

            <video class="cell small-12 remote-video display-none" autoplay id="remote-video"></video>

            <div class="call-buttons-container display-none cell small-12" id="call-buttons">
                <button type="button" class="call-button-small" id="mic-button">
                    <i class="fas fa-microphone fa-fw fa-2x"></i>
                </button>
                <button type="button" class="call-button-small" id="camera-button">
                    <i class="fas fa-camera fa-fw fa-2x"></i>
                </button>
                <button type="button" class="call-button-small" id="screen-sharing-button">
                    <i class="fas fa-desktop fa-fw fa-2x"></i>
                </button>
                <button type="button" class="call-button-small" id="start-recording-button">
                    <i class="fas fa-dot-circle fa-fw fa-2x"></i>
                </button>
            </div>

            <div id="finish-chat-button-container" class="cell small-12 finish-chat-button-container display-none">
                <button class="call-button-large" id="finish-chat-call-button">
                    <i class="fas fa-phone-slash fa-fw fa-2x"></i>
                </button>
            </div>

            <div class="video-recording-buttons-container display-none cell small-12">
                <button type="button" id="stop-recording-button">
                    <i class="fas fa-stop fa-fw fa-2x"></i>
                </button>
                <button type="button" id="pause-recording-button">
                    <i class="fas fa-pause fa-fw fa-2x"></i>
                </button>
                <button type="button" id="resume-recording-button" class="display-none">
                    <i class="fas fa-play fa-fw fa-2x"></i>
                </button>
            </div>
        </div>

        <div class="messenger-container cell large-4 medium-12 grid-x grid-margin-x grid-margin-y">
            <div class="messages-container cell small-12 grid-y grid-margin-y" id="messages-container"></div>

            <div class="new-message-container cell small-12 display-none grid-x" id="new-message">
                <div class="cell small-12">
                    <div class="input-group">
                        <input class="input-group-field" id="new-message-input" type="text"
                            placeholder="Type your message..."></input>

                        <button class="button" id="send-message-button">
                            Send
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="dialog"></div>
    <input id="rmtuser" type="hidden" value="{{user._id}}" readonly>
</div>