<div id="peers-container" class="row" style="margin-top: 5px;">
    <div id="callout-parent" class="columns small-12"></div>

    <div class="columns small-12">
        <div id="peers-list" class="grid-x grid-padding-x grid-margin-x"></div>
    </div>

    <div class="columns small-12">
        <div class="grid-x grid-padding-x">
            {{>settings}}
        </div>
    </div>
</div>
<input type="hidden" id="rmtid-input" value="{{rmtId}}">
<input type="hidden" id="personal-code-input">