<div id="callout-parent"></div>

{{>peerslist}}

<div class="grid-x grid-padding-x">
    {{>settings}}
</div>

<input type="hidden" id="rmtid-input" value="{{rmtId}}">
<input type="hidden" id="personal-code-input">