<div id="dashboard-main" class="grid-x grid-padding-x grid-padding-y">
    <div id="index" class="cell hide-for-small-only medium-3">
        <div class="grid-y grid-margin-y">
            <div class="cell auto index">
                <p>
                    Chat
                </p>
            </div>


            <div class="cell auto index">
                <p>
                    Contacts
                </p>
            </div>


            <div class="cell auto index">
                <p>
                    Profile
                </p>
            </div>
        </div>
    </div>

    <div id="content" class="cell small-12 medium-9">
        <h2>content</h2>
    </div>
</div>