<div class="grid-container fluid" style="margin:auto;">
    <div id="callout-parent"></div>

    {{#if hasToken}}
    <input type="hidden" id="join-room-input" value="{{token}}">
    <input type="hidden" id="room-name-input" value="{{roomName}}">
    {{/if}}

    <div class="row">
        <h2 class="columns small-12">
            {{chatType}}
        </h2>
        <div class="columns small-12">
            <div class="grid-x" style="place-content:center;">
                <div class="cell medium-6 small-12" id="local-part"></div>
                <div class="cell medium-6 small-12" id="remote-parts"></div>
            </div>
        </div>

        <div class="columns small-12" id="controls"></div>
    </div>

</div>
<input type="hidden" id="rmtid-input" value="{{rmtId}}">
<input type="hidden" id="personal-code">