<div class="grid-container fluid" style="margin:1% auto 10% auto;">
    <div class="grid-x grid-margin-x grid-margin-y">
        <div class="cell large-4 small-12 box1">
            <div class="grid-x" style="justify-content:center;align-items:center;">
                <p>
                    <i class="fa-solid fa-address-book fa-2xl fa-fw" style="color:white;"></i>
                </p>
            </div>
        </div>

        <div class="cell large-4 small-12 box2">
            <p class="lead cell small-12 medium-9">
                Manage all of your personal and professional contacts.
            </p>
        </div>

        <div class="cell large-4 small-12 box3">
            <p>
                <i class="fa-solid fa-globe"></i>
            </p>
            <p class="lead">
                Manage your contacts from anywhere in the world.
            </p>
        </div>
    </div>
</div>