.dashboard-container {
  background-color: #eff1f3;
  color: rgb(1, 23, 56);
  border: solid 1pt rgb(210, 227, 244);
  border-radius: 15px;
  max-height: 500px;
  overflow: scroll;
}

.dashboard-personal-code-title-container {
  background-color: rgba(46, 3, 3, 0.3);
  border-radius: 15px;
}

#personal-code-parent {
  top: 0;
}

#new-contact-form {
  background-color: rgb(200, 200, 200);
  border-radius: 10px;
}

/* #search-form {
  transform: translate3d(0, -300%, 0);
  transition: transform 0.6s;
}

#search-form.show {
  transform: translate3d(0, 0, 0);
}
 */
