.dashboard-personal-code {
  font-size: small;
  font-weight: bold;
}

.dashboard-personal-code-title {
  font-weight: bolder;
  font-size: large;
  margin: 0 auto 10px auto;
}

.copyright,
.app-name,
.icon {
  color: rgb(2, 2, 56);
  margin: 0;
  padding: 0;
}

h* {
  text-align: center;
}

#settings {
  position: absolute;
  left: 10%;
  z-index: 120;
  margin: 0 60px 0 0;
  background-color: rgb(8, 62, 128);
  color: white;
  border-radius: 15px;

  transform: translate3d(0, -300%, 0);
  transition: transform 0.6s;
}

#settings.show {
  transform: translate3d(0, 0, 0);
}
